{% extends 'base.html.twig' %}

{% block title %}Record index{% endblock %}

{% block body %}
    <h1 class="text-white">Albums</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Pochette</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.title }}</td>
                <td>{{ record.recordCover }}</td>
                <td>
                    <a href="{{ path('app_record_show', {'id': record.id}) }}">Voir album</a>
                    <a href="{{ path('app_record_edit', {'id': record.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_record_new') }}">Create new</a>
{% endblock %}
